/* Layout the screen */
body {
    display: grid;
    grid-template-columns: 1fr 200px; /* Main content + Sidebar */
    padding: 20px;
}

/* Left Hero Section */
.hero-content {
    max-width: 500px;
}


/* This rule activates only when the screen width is 768px or less */
@media (max-width: 768px) {
    
    .page-wrapper {
        flex-direction: column; /* Stacks items vertically instead of side-by-side */
        justify-content: center;
        height: 40vh;
        padding-bottom: 50px;
    }


}
/* --- Mobile/Android Specific Adjustments --- */
@media (max-width: 768px) {
    .navbar {
        /* Align items to center for mobile */
        justify-content: center; 
        padding-top: 5px; /* Adds the margin at the top you wanted */
    }

    .nav-logo {
        width: 50px; /* Adjust this value to make the logo smaller */
        height: auto;
    }
    
    /* If you need to fix the title/hero-image alignment */
    .hero-title-image {
        width: 85%; /* Ensures the main title scales nicely on mobile */
        margin: 0 auto;
        display: block;
        
    }
    .hero-title-image{
        padding-top: 5px;
    }
}