/* style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Ensures padding/ borders don't affect width */
/* Margin for elements can touch edge */
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x:hidden; /*prevents horizontal scrollbar*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-layer {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: url('../assets/portal-bg.jpg') no-repeat center center/cover;
    z-index: -1; /* Puts image behind everything */
}

/* This makes sure your 3D Canvas sits behind everything else */
#webgl {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; /* Behind the text */
}

/* This ensures your UI sits on top of the 3D scene */
#home-scene {
    position: relative;
    z-index: 2; /* In front of the 3D scene */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* This rule activates only when the screen width is 768px or less */
@media (max-width: 768px) {
    
    .page-wrapper {
        flex-direction: column; /* Stacks items vertically instead of side-by-side */
        justify-content: center;
        height: 1vh;
        padding-bottom: 50px;
    }


}
/* --- Mobile/Android Specific Adjustments --- */
@media (max-width: 768px) {

    .nav-logo {
        width: 50px; /* Adjust this value to make the logo smaller */
        height: auto;
    }
    
    /* If you need to fix the title/hero-image alignment */
    .hero-title-image {
        width: 90%; /* Ensures the main title scales nicely on mobile */
        height: 30%;
        margin: 0 auto;
        display: block;
        align-content: center;
        
    }
    .hero-title-image{
        padding-top: 3px;
        align-self: center;
    }
}
